<footer class="page-footer font-small cyan darken-3">

    <div class="container-fluid acomodo d-flex justify-content-around align-items-center p-3  "  style="background: rgb(170, 173, 160); height: 300px; font-family: 'Philosopher', sans-serif; font-family: 'Libre Baskerville', serif; ">
        <div class="row text-center ">
          <div class="col-12 col-sm-4 font-weight-bolder" *ngFor="let piepagina of piepaginas" >
            <p class="titulo">{{piepagina.campo}}</p>
            <p class="subtitulo">{{piepagina.descripcion}}</p>
          </div>
   </div>
  </div>
 </footer>

<!--  <div class="col-12 col-sm-4" >
        <p class="titulo">Teléfono</p>
        <p class="subtitulo">6688130384</p>
      </div>

      <div class="col-12 col-sm-4" >
        <p class="titulo">Email</p>
        <p class="subtitulo">RecepcionInocisa@hotmail.com </p>
      </div>
 -->