
<app-header></app-header>

<!-- <div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 d-flex justify-content-center d-flex flex-relative">
            <img [src]="imagenportada" class="img-fluid">
            <div>
                <h1>Circus Mortis</h1>
            </div> 
        </div>
    </div>
</div> -->

<section class="container-fluid pprincipal d-flex justify-content-end align-items-center flex-column " style="background-image: url(assets/Imagenes/director.jpg);font-family: 'Architects Daughter', cursive;">
<h3 class="display-4 text-uppercase text-light ">Circus Mortis</h3>
<h3 class="display-4  text-light  text-center">La obra de teatro mas esperada en la ciudad de los Mochis</h3>
<!-- <a data-target="#exampleModal" class="btn btn-info rounded-pill p-3 m-3" style="min-width: 200px;">ver</a>
 -->
 <a class="btn btn-info rounded-pill p-3 m-3" style="min-width: 200px;" data-toggle="modal" data-target="#exampleModal">
    Ver
 </a>
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Circus Mortis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pi87FTHqnAU?autoplay=1&mute=1&enablejsapi=1"></iframe>
              </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section class="container">
    <h1 class="text-light text-center font-weight-bold" style="font-family: 'Architects Daughter', cursive;">
        El grupo de teatro de la escuela vocacional de artes tiene a bien presentar
    </h1>
</section>

<section class="container w-50 d-flex justify-content-center p-3" style="font-family: 'Abel', sans-serif;">
    <div class="row  d-flex justify-content-center align-items-center text-center" style="font-family: 'Libre Baskerville', serif;">
        <div class="col-12 border border-dark" style="background: rgb(194, 194, 194);">
            <h3 class="display-5">Fechas</h3>
                <ul>
                    <li>
                        <h5 >24  de Julio 2020</h5>
                    </li>
                    <li>
                        <h5 >24 de Julio 2020</h5>
                        
                    </li>
                </ul>
        </div>
        <div class="col-12 border border-dark" style="background: rgb(194, 194, 194);">
            <h3 class="display-5">Lugar</h3>
            <h5>Concha Acústica de la Escuela vocacional de Artes los Mochis</h5>
        </div>
        <div class="col-12 border border-dark text-center" style="background: rgb(194, 194, 194);">
            <h3 class="display-5">Programa</h3>
            <ul>
                <li>
                    <h5 >Apertura del grupo de Danza Folclórica Juvenil</h5>
                </li>
                <li>
                    <h5 >Número musical Canciones de Día de Muertos grupo coral</h5>
                    
                </li>

                <li>
                    <h5 >Presentación Principal del espectáculo Circus Mortis</h5>
                    
                </li>
            </ul>
        </div>
        <div class="col-12 border border-dark" style="background: rgb(194, 194, 194);">
            <h3 class="display-5">Invitados Especiales</h3>
            <ul>
                <li>
                    <h5>Rio Guasavense Espectáculo de cuerdas</h5> 
                </li>

                <li>
                    <h5>Grupo Sinaloa de las artes "Monólogo de un Naufragio"</h5> 
                </li>
             </ul>   
        </div>
       
        <div class="col-12 border border-dark p-3"  style="background: rgb(194, 194, 194);">
            <a href="https://www.paypal.com/myaccount/transfer/homepage/request" target="_blank"  class="btn btn-danger rounded-pill w-50" > Boletos</a>
        </div>
        
    </div>
</section>


<router-outlet></router-outlet>
<app-footer></app-footer>
