
<app-header></app-header>
<router-outlet></router-outlet>
<div class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<app-footer></app-footer>
<!-- <div class="container-fluid p-0 border border-dark d-flex justify-content-center " style="height: 400px;" >
<img class="card-img-bottom img-fluid" [src]="imagendirector" style="width: 450px;">
</div>

<div class="container-fluid p-0 pt-4" style="width:1000px; height: 1000px;">
<div class="border bg-light border-dark w-100 h-50">
<div class="card ">
    
    <div class="cardbody ">
    <div class="card-text h-50 border border-dark">
<p class="text-uppercase font-weight-bolder h-100">Profesor G. Rousse presenta</p>
    </div>
</div> 
</div>
</div>
</div>
<div class="container-fluid border border-dark" style="height: 1000px;">
    <div class="row h-90">

        <div class="col-12 border border-dark bg-info ">
            <div class="row h-50">
                <div class="col-6 d-flex flex-row bg-dark" style="height: 500px;">
                    <p>Primer estructuca</p>
                </div>

                <div class="col-2 border border-dark bg-success">
                    <p>Segunda estructuca</p>
                </div>

                <div class="col-4">
                    <p>Segunda estructuca</p>
                </div>
            </div>
        </div>

        <div class="col-12 border border-dark bg-danger h-35">
            <p>Segundo elemento</p>
        </div>

        <div class="col-12 border border-dark bg-dark h-50">
<p>Tercer elemento</p>
        </div>
        <div class="col-12 border border-dark">
<p>Cuarto elemento</p>
        </div>

        <div class="col-12 border border-dark">

        </div>
    </div>
</div> -->

<!-- <div class="container-fluid p-0 overflow-hidden" style="height: 100vh; width: 100%;" >
<div class="row">
    <div class="col-lg-12 bg-light  cabecera text-uppercase border border-dark text-center d-flex align-items-center justify-content-center" style="height: 10em;">
        <p>Escuela vocacional de artes siempre presente en los mejores eventos</p>
    </div>
   <div class="col-lg-12 bg-light justify-content-center align-items-center border border-dark" style="height: 250px; width: 100%;">
        <img [src]="imagendirector" class="img-fluid" style="margin: 0; padding: 25px;">
   </div>


</div> -->



