.reproductor
{
visibility: hidden;
}






/* .temporal1
{
position: relative;
}

.temporal2
{
position: absolute;
left: 0px;
top: 0px;
visibility: hidden;
}

.temporal1:hover .temporal2
{
visibility: visible;
} */